body {
  background: #314564 url("/bg_tile.gif") 0 0 repeat-y;
  margin: 12px 12px 12px 12px;
  padding: 0;
  color: #000;
  font: 12px/17px "Trebuchet MS", Arial, Helvetica, Verdana, sans-serif;
  min-width: 500px;
}
h1 {
  font-size: 2em;
  color: #666;
}
input {
  margin: 4px 4px 4px 4px;
  vertical-align: middle;
}
textarea {
  margin: 0px 8px 8px 8px;
  vertical-align: top;
}
#main {
  background: white;
  padding: 10px 20px 20px 20px;
}
#description {
  padding: 4px;
}
#submit {
  background: #d9d9d9;
  margin: 20px 0px 0px 0px;
  padding: 4px;
}
#logo h1 { 
  margin: 0;
  padding: 4px;
  width: 286px;
  height: 81px;
  background: url("header.gif") 0 0 no-repeat;
}
#logo h1 a { 
  margin: 0;
  padding: 0;
  width: 286px;
  height: 81px;
  display: block;
}
#logo h1 a:hover { border-bottom: none; }
#logo h1 span { display: none; }
